
<body class="container">
    <div class="row">
        <div class="col-sm-6">
        <h2>O conceito</h2>
        <p>Fdxx para esta merda</p>
        <p>Fdxx para esta merda segunda vez</p>
        </div>
        <div class="col-sm-6">
            <img src="~/images/banner4.svg" />
        </div>

     </div>
    
</body>
