@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-fluid jumbotron golden">
        <h1>MusicZone</h1>
        <p >Bandas a não perder</p>
        
    </div>
    <div class="container-fluid goldenfooter">
        <p>Actualizado Diariamente com <span class="glyphicon glyphicon-music"></span></p>
    </div>
</body>

